.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    margin: 0;
}

section {
    padding: 40px 20px;
}

.parallax {
    background-image: url(./images/bkg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    perspective: 1px;
}

.parallax-layer {
    position: absolute;
    inset: 0;
}

.layer1 {
    transform: translateZ(0);
    transform: translateY(100px) translateX(100px);
    font-size: 100px;
    color: #badce2;
}

.layer2 {
    transform: translateZ(-1px);
    transform: translateY(300px) translateX(300px);
    font-size: 80px;
    color: #76d8e9;
}

.layer3 {
    transform: translateZ(-2px);
    transform: translateY(500px) translateX(500px);
    font-size: 60px;
    color: #042227;
}